{% extends 'base.html' %}
{% load imagefit %}

{% block content %}
<div class="container pb-4 pb-lg-5">
    <h1 class="mt-0 mb-lg-5 mb-4">Наши яркие события</h1>
    <div class="row">
        {% for album in albums %}
            <div class="col-sm-6">
                <div class="gallery-item mb-4">
                    <img src="{{ album.image.url|resize:'album' }}" class="w-100 rounded-lg mb-3 shadow transition" alt="...">
                    <a href="{{ album.get_absolute_url }}" class="stretched-link font-3 h4 font-weight-normal mb-1 mt-0 d-block">{{ album.title }}</a>
                    <span class="text-muted small d-block">{{ album.date|date:"j/n/Y" }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center pt-4">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">10</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}