{% extends 'base.html' %}
{% load imagefit %}

{% block title %}
    <title>{{ news_item.seo_title }}</title>
    <meta name="description" content="{{ news_item.desc }}">
    <meta name="keywords" content="{{ news_item.keywords }}">
{% endblock title %}

{% block content %}
<div class="container pb-4 pb-lg-5">
    <div class="row justify-content-left">
        <div class="col-xl-9 col-lg-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'content_startpoint' %}">О нас</a></li>
                <li class="breadcrumb-item"><a href="{% url 'news' %}">Новости</a></li>
                <li class="breadcrumb-item active">{{ news_item.title }}</li>
            </ol>
            <article class="bg-white p-4 p-md-5 rounded-lg shadow-sm">
                <span class="small text-white bg-success px-2 py-1 rounded">{{ news_item.date|date:"j/n/Y" }}</span>
                <h1 class="mt-4">{{ news_item.title }}</h1>

                {{ news_item.text|safe }}

            </article>

        </div>
    </div>
</div>
{% endblock content %}